{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'Polls/css/index.css'%}">
    <link type="image/png" sizes = "16x16"  rel="icon" href = "{% static 'Polls/img/favicon.ico'%}">
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>

<header>
    <div class="logo">
        <a href="/">
            <img src="{% static '/Polls/img/logo.svg' %}" width="60" height="60px"/>
        </a>
    </div>

    <div class="menu">
        <ul>
            <li><a href="/about">О нас</a></li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="/hobbies">Увлечения</a></li>
            <li><a href="/gallery">Галерея</a></li>
        </ul>
    </div>

    <div class="tel">
        <a_href="tel:+79153952230">+7(915)395-22-30</a>
    </div>

</header>
<body class="content">
</body>
<footer>
</footer>
</html>

