<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interests</title>
</head>


    <div class="content">
        <h1> Привет, какой у тебя адрес эл. почты? </h1>
        <h2>  </h2>
    </div>
<header>
    <div class="header">
        This is header
    </div>
</header>

<footer>
    <div class="footer">
        This is footer
    </div>
</footer>
</html>

<style>
    .header {
       background-color: #dbc9e4;
}

    .footer {
    background-color: #88ECFF;
}
</style>
